# Datos
outputs/

# Geoespacial
*.shp
*.shx
*.dbf
*.prj

# Python
__pycache__/
.env

# Streamlit
.streamlit/

# Ignorar datos crudos
data/raw/

# Permitir datos procesados
!data/processed/
!data/processed/*.csv

